.social {
  display: flex;
  margin-left: auto;
  justify-content: center;
}

.social__link {
  display: block;
  color: var(--fill-icon-color);
  // padding: $fs-12;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--secondary-accent-color);
  }
}

.social__icon {
  display: block;
  fill: currentColor;
}

.social__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0px;
  }
}
