.employees {
  background-color: var(--secondary-bg-color);
  text-align: center;
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }

  &-list {
    display: flex;
    gap: 30px;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
    // flex-direction: row;
    flex-wrap: nowrap;
    }
  }

  &-title {
    margin-bottom: 30px;
    @include font (28px, 1.17, 700, 0.03em);
    color: var(--title-text-color);

    @media screen and(min-width: 1200px) {
      @include font (36px, 1.17, 700, 0.03em);      
      margin-bottom: 50px;
    }
  }

  &-item {
    max-width: 450px;
    background-color: var(--secondary-accent-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

      @media screen and(min-width: 768px) {
      width: calc((100% - 30px) / 2);
      }
  }

  &-specialization {
    padding: 30px 0;
    font-size: 0;
  }

  &-name {
    @include font (16px, 1.19, 500, 0.03em);
    text-align: center;
    margin-bottom: 10px;
    color: var(--title-text-color);
  }

  &-position {
    @include font (16px, 1.19, 400, 0.03em);
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 16px;
  }

  &-soc-link {
    background: var(--secondary-accent-color);
  }
}

.employees-soc-icon {
  fill: var(--fill-icon-color);
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  .employees-soc-link:hover &,
  .employees-soc-link:focus & {
  fill: var(--secondary-accent-color);
  outline: 0;
  }
}




