.footer¬__section {
  background-color: var(--hero-bg-color);
  text-decoration: none;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__link {
  color: var(--secondary-accent-color);
  font-family: $secondary-font;
  @include font (24px, 1.17, 700, 0.03em);
  text-decoration: none;
}
.footer__logo {
  color: var(--secondary-accent-color);
}

.footer__text {
  color: var(--secondary-accent-color);
  text-transform: uppercase;
  font-family: $main-font;
  @include font (14px, 1.17, 700, 0.03em);
  margin-bottom: 20px;
}

.footer-social__list {
  display: flex; 
    @media (max-width: 768px) {
      justify-content: center;
    } 
}

.footer-social__link {
  display: block;
  color: var(--secondary-accent-color);
  padding: 12px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  &:hover,
  &:focus  {
  background-color: var(--accent-color);
  outline: 0;
  }
}


.footer-social__icon {
  display: block;
  fill: currentColor;
}

.footer-social__item {
  margin-right: 10px;
  &:last-child {
  margin-right: 0px;
  }
}

.address__part {
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  @media (min-width: 768px) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }

  @media (min-width: 1200px) {
    text-align: left;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: baseline; 
  }
}


.address {
  font-style: normal;
  &__item {
  margin-top: 9px;
  }
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.footer {
  @media (max-width: 768px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  @media (min-width: 767px) {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    width: 206px;
    margin-right: 93px;
    margin-left: 70px;
  }
}

.address__link {
  display: block;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  &:hover,
  &:focus {
  color: var(--accent-color);
  }
}

.address__link--location {
  display: block;
  text-decoration: none;
  color: var(--secondary-accent-color);
  margin-top: 20px;
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
